*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* NAVIGACE */
nav{
    width: 100%;
    height: 7vh;
    /* border: 1px solid orange; */
    background: #000;
    display: flex;
    align-items: center;
}

.links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18%;
    /* border: 1px solid orange; */
}
.link{
    
}

.link a{
    color: #fff;
    text-decoration: none;

}
.sp-link{
    /* border: 1px solid white; */
    width: 10%;
}
.sp-link img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

/* /NAVIGACE */


/* INDEX */
.welcome-section{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(images/welcome.jpg);
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.welcome-container{
    width: 22%; 
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.main-heading{
    font-size: 40px;
}
.welcome-container p{
    color: #c0c0c0;
    margin: 7px 0;
    font-size: 18px;
}
