* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* NAVIGACE */
nav {
    width: 100%;
    height: 7vh;
    /* border: 1px solid orange; */
    background: #000;
    display: flex;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18%;
    /* border: 1px solid orange; */
}

.link a {
    color: #fff;
    text-decoration: none;

}

.sp-link {
    /* border: 1px solid white; */
    width: 10%;
}

.sp-link-bars {
    display: none;
    color: white;
}

.sp-link img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

/* /NAVIGACE */


/* INDEX */
.welcome-section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(images/welcome.jpg);
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.welcome-container {
    width: 22%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.main-heading {
    font-size: 40px;
}

.welcome-container p {
    color: #c0c0c0;
    margin: 7px 0;
    font-size: 18px;
}

.btn-con {
    width: 260px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.button {
    border: 0;
    outline: none;
    min-height: 25px;
    width: 40%;
    min-width: 100px;
    margin: 10px;
    padding: 7px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-wh {
    background-color: #fff;
}

.btn-gr-trans {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

/* detailing sekce */

.detailing-section {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.detailing-con {
    width: 40%;
}

.detailing-img {
    height: auto;
}

.detailing-img img {
    width: 100%;
    height: 145;

}

.detailing-con h3 {
    margin: 10px 0;
}

.detailing-con p {
    width: 60%;
    color: #777777;
}

/* qutoe sekce */

.quote-section {
    width: 70%;
    margin: 120px auto;
    text-align: center;
}

.quote-section h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-black {
    background: #000;
    color: #fff;
    scale: 110%;
}

/*faq sekce*/
.faq-section {
    width: 70%;
    margin: 20px auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;
}

.faq-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.question {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all linear 0.1s;
    font-weight: bold;
}

.fa-plus {
    font-size: 25px;
    margin-right: 15px;
    display: block;
    transition: all linear 0.1s;
}

.question:hover {
    border-bottom: 1px solid #8c8b8b;
}

.question:hover .fa-plus {
    transform: scale(1.2) !important;
}


/* FOOTER */
footer {
    height: 140px;
    background-color: #000;
}

/* CONTACT PAGE */

.contact-heading {
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
}

.banners {
    width: 70%;
    margin: 80px auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.banner-container {
    padding: 9px;
    transform: scale(1.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all linear 0.2s;
    margin: 0 10px;
}

.banner-container:hover {
    scale: 1.05;
}

.type-of-sub {
    font-size: 12px;
}

.price {
    font-size: 35px;
    margin: 10px 0;
    font-weight: bold;

}

.benefits {
    list-style: none;
}

.benefit {
    font-size: 15px;
}

.fa-check {
    background-color: #000;
    color: #fff;
    padding: 1px;
    margin-right: 7px;
    border-radius: 50%;
}

/* references */

.reference {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ref-heading {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.ref-content {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    color: #777777;
}

.ref-person {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 30%;
}

.ref-per-foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.per-profile {
    display: flex;
    flex-direction: column;
}

.ref-per-name {
    font-size: 14px;
    font-weight: bold;
}

.ref-per-prof {
    font-size: 12px;
    color: #8c8b8b;
}

/* Contact */
.contact-form-section {
    width: 70%;
    margin: 110px auto;
    margin-bottom: 30px;
}

.contact-form-section h2 {
    margin: 15px auto;
}

form {
    padding: 8px;
    width: 50%;
    margin: 0 auto;
}

.user-name-inputs {
    display: flex;

}

input {
    width: 50%;
    height: 45px;
    padding: 6px;
    outline: none;
    border: none;
    background: #f4f4f4;
    border-radius: 5px;
    transition: all linear 0.1s;

}

input:focus {
    border-bottom: 1px solid black;
}

input:nth-child(1) {
    margin-right: 5px;
    margin-bottom: 10px;
}

input:nth-child(2) {
    margin-left: 5px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    width: 100%;
    height: 130px;
    padding: 6px;
    outline: none;
    border: none;
    background: #f4f4f4;
    border-radius: 10px;
    transition: all linear 0.1s;
}

textarea:focus {
    border-top: 1px solid black;
}

.submit-btn {
    width: 100%;
    border: none;
    font-weight: bold;
    height: 40px;
    color: #fff;
    background-color: #161616;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

/* / Contact page */


/* More info page */

.our-service {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reason {
    width: 26%;
}

.rs-heading-sm {
    font-size: 25px;
}

.reason p {
    margin: 10px 0;
    color: #777777;
}

.small-btn {
    border: none;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}

.btn-sm-black {
    color: #fff;
    background: #000;
    margin-right: 5px;
}

.base-foto {
    width: 60%;
    height: auto;
}

.base-foto img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.perk-section {
    display: flex;
    width: 70%;
    margin: 90px auto;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: center;

}

.value {
    width: 25%;
    margin: 13px;
}

.value h4 {
    margin: 8px 0;
}

.value p {
    color: #777777;
}

.value img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}

.trusted-by-section {
    width: 40%;
    margin: 90px auto;

}

.partners {
    display: flex;
    justify-content: center;
    list-style: none;
}

.partner {
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    color: #777777;
}

.fa-part {
    margin-right: 5px;
}

/* Query pro všechny menší zařízení */
@media only creen and (max-width: 1200px) {
    nav {
        height: 10vh;
    }

    .sp-link {
        width: 30px;
    }

    .faq-section {
        width: 100%;
    }

    .faq-section ul {
        width: 100%;
    }
}

/* Tablet */
@media only screen and (min-width: 621px) and (max-width: 1200px) {

    /* Nav and top*/
    .links {
        width: 30%;
    }

    /* Welcome screen */
    .welcome-section {
        height: 60vh;
    }

    .welcome-container {
        width: 50%;
    }

    /* Vice info top */
    .our-service {
        width: 98%;
    }

    .reason {
        width: 50%;
    }

    /* Vice info perks */
    .perk-section {
        width: 100%;
    }

    /* Banners */
    .banners {
        height: 90vh;
        flex-wrap: wrap;
    }

    /* Detailing */
    .detailing-con p {
        width: 100%;
    }

    .quote-section h2 {
        font-size: 35px;
    }

    .btn-black {
        scale: 100%;
    }

    /* Ref content */
    .reference {
        width: 55%;
    }

    /* Kontakt */
    .button {
        padding: 15px;
        font-size: 11px;
    }

    /* Vice info trusted by */
    .trusted-by-section {
        width: 80%;
    }

    .partner {
        font-size: 32px;
    }
}

/* Mobile */
@media only screen and (max-width: 620px) {

    /* Nav and top*/
    nav {
        justify-content: center;
    }

    .links {
        width: 95%;
        justify-content: space-between;
    }

    .link {
        display: none;
    }

    .sp-link {
        display: block;
    }

    .sp-link-bars {
        display: block;
        font-size: 25px;
    }

    /* Welcome screen */
    .welcome-container {
        width: 80%;
    }

    .welcome-container p {
        font-size: 15px;
    }

    .main-heading {
        font-size: 30px;
    }

    .button {
        padding: 10px;
    }

    /* Banners */
    .banners {
        flex-direction: column;
        height: 150vh;
    }

    /* Vice info top */

    .base-foto {
        margin-left: 25px;
        height: 125vh;
    }

    .base-foto img {
        width: 150px;
        height: 100%;

        object-fit: cover;
    }

    .reason {
        width: 50%;
    }

    .reason p {
        font-size: 12px;
    }

    .small-btn {
        scale: 200%;
    }

    .smaller-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 150px;
    }

    /* Detailing */
    .detailing-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 25px auto;
    }

    .detailing-con {
        padding-top: 25px;
    }

    .detailing-con {
        width: 85%;
    }

    .detailing-con h3 {
        font-size: 20px;
    }

    .detailing-con p {
        width: 100%;
    }

    .detailing-img img {
        border-radius: 15px;
    }

    /* Perk section */

    .perk-section {
        width: 100%;
        flex-direction: column;
        align-content: center;
    }

    .value {
        width: 60%;
    }

    /* Kontakt */
    .btn-con {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .button {
        width: auto;
        height: auto;
        margin: 0px;
    }

    /* Refs */
    .ref-heading {
        width: 100%;
    }

    .trusted-by-section {
        width: 100%;
    }

    .reference {
        width: 100%;
    }

    .contact-form-section {
        width: 100%;
    }

    /* Form */
    form {
        width: 100%;
    }
}