*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* NAVIGACE */
nav{
    width: 100%;
    height: 7vh;
    /* border: 1px solid orange; */
    background: #000;
    display: flex;
    align-items: center;
}

.links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18%;
    /* border: 1px solid orange; */
}
.link{
    
}

.link a{
    color: #fff;
    text-decoration: none;

}
.sp-link{
    /* border: 1px solid white; */
    width: 10%;
}
.sp-link img {
    width: 60%;
    display: block;
    margin: 0 auto;
}

/* /NAVIGACE */


/* INDEX */
.welcome-section{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(images/welcome.jpg);
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.welcome-container{
    width: 22%; 
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.8));
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.main-heading{
    font-size: 40px;
}
.welcome-container p{
    color: #c0c0c0;
    margin: 7px 0;
    font-size: 18px;
}

.btn-con{
    width: 260px;
    margin: 0 auto;
}

.button{
    border: 0;
    outline: none;
    min-height: 25px;    
    width: 40%;
    min-width: 100px;
    margin: 10px;
    padding: 7px;
    font-size: 13px;
    border-radius: 5px;

    font-weight: 600;
}

.btn-wh {
    background-color: #fff;
}

.btn-gr-trans {
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

/* detailing sekce */

.detailing-section{
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid orange;
}

.detailing-con{
    width: 40%;
    border: 1px solid black;
}

.detailing-img{
    height: 100px;
    border: 1px solid black;
}
.detailing-con h3{
    margin: 10px 0;
}
.detailing-con p {
    width: 60%;
    color: #777777;
}

/* qutoe sekce */

.quote-section{
    width: 70%;
    margin: 30px auto;
    text-align: center;
}

.quote-section h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.btn-black{
    background: #000;
    color: #fff;
    scale: 110%;
}

/*faq sekce*/
.faq-section{
    width: 70%;
    margin: 20px auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
}
.faq-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.question{
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all linear 0.1s;

}

.fa-plus{
    font-size: 25px;
    margin-right: 15px;
    display: block;
    transition: all linear 0.1s;
}
.question:hover {
    border-bottom: 1px solid #777777;
}
.question:hover .fa-plus {
    transform: scale(1.2)!important;
}


/* FOOTER */
footer{
    height: 140px;
    background-color: #000;
    margin-bottom: 30px;
}